---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Intro from '../components/Intro.astro';
---

<Layout title="Sati Sadhani Kalakhetra">
	<main class="container">
		<Header client:only="react"/>
		<Intro/>
	</main>
</Layout>