
<section id="about" class="about row row-2 section-bg">
    <div class="content shadow-box rounded container w-75 h-50">
        <h2 class="text-center text-uppercase">About</h2>
        <p>BIRANGANA  SADHANI KALAKHETRA situated in Golaghat at Chelingi Gaon at a distance of around 3 km from Golaghat town. The premise is spread in an area of 23 Bhigas.  Assam Government started to build the Kalakhetra in the year of 2009 to attract the tourists visiting the district.</p>
        <p>
            The premise is named after Sati Sadhani, the last queen of the Chutia dynasty of the 15th/16th-century who played a prominent role in the fight against the Ahoms.   
            It has a well developed park with a well equipped highly modern centrally air conditioned auditorium and acoustic systems with sophisticated sitting arrangements and serene natural beauty to spend time.  It has a life-size statue of Birangana Sati Sadhani. </p>
        <p>The cultural complex has a two storied tourist lodge, boating facility, An open air auditorium and entertainment park for children. The Kalakhetra is a major tourist place of the district and a centre for recreational activities for children as well as adults.  
        </p>    
        <p> Various Events of State and regional level organized by various Govt. departments, Socio-Cultural organization, N.G.O., Public forums etc. are taking place throughout the year in the said premises.</p>
    </div>
    <div class="members container text-center">
        <span>Meet our commitee Memebers</span>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow h-100">
              <img src="../Kalakhetra/assets/img/chairwoman.jpg" class="card-img-top" alt="..." />
              <div class="card-body text-center">
                <h5 class="card-title mb-0">Smt Orpah baglar</h5>
                <div class="card-text text-black-50">Chairwoman</div>
                <small>District development commissioner</small>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow h-100">
              <img
                src="../Kalakhetra/assets/img/adc.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body text-center">
                <h5 class="card-title mb-0">Dr Sangetta Barthakur</h5>
                <div class="card-text text-black-50">Member secretary</div>
                <small>ADC</small>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow h-100">
              <img
                src="../Kalakhetra/assets/img/no-img.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body text-center">
                <h5 class="card-title mb-0">Sri Amlan Phukan</h5>
                <div class="card-text text-black-50">
                  Cultural Development Officer
                </div>
                <small>Asstt commissioner</small>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow h-100">
              <img
                src="../Kalakhetra/assets/img/no-img.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body text-center">
                <h5 class="card-title mb-0">Sri Girindra Deuri Bharalai</h5>
                <div class="card-text text-black-50">Executive engineer</div>
                <small>PWD roads</small>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="container">
            <div class="row">
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow h-100">
                  <img
                    src="../Kalakhetra/assets/img/no-img.jpg"
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body text-center">
                    <h5 class="card-title mb-0">Sri Jaykrishna </h5>
                    <div class="card-text text-black-50">
                      Aarti executive engineer
                    </div>
                    <small>PWD building</small>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow h-100">
                  <img
                    src="../Kalakhetra/assets/img/amioda.jpg"
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body text-center">
                    <h5 class="card-title mb-0">Sri Amiya Bora</h5>
                    <div class="card-text text-black-50">Chairman</div>
                    <small>Assam Tea Nigam</small>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow h-100">
                  <img
                    src="../Kalakhetra/assets/img/sg.jpg"
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body text-center">
                    <h5 class="card-title mb-0">Sri Sagar gohain</h5>
                    <div class="card-text text-black-50">Social worker</div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow h-100">
                  <img
                    src="../Kalakhetra/assets/img/no-img.jpg"
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body text-center">
                    <h5 class="card-title mb-0">Sri Rupa Saikia</h5>
                    <div class="card-text text-black-50">Social worker</div>
                  </div>
                </div>
              </div>
            </div>
          <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-0 shadow h-100">
                <img src="../Kalakhetra/assets/img/no-img.jpg" class="card-img-top" alt="..." />
                <div class="card-body text-center">
                  <h5 class="card-title mb-0">Sri Raktim bora</h5>
                  <div class="card-text text-black-50">Social worker</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
</section>

<style>
    .about{
        background: rgb(14, 21, 20);
    }
    .about .shadow-box {
            background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Semi-transparent box shadow */
        }
    .content {
        background-color: aliceblue;
        border:1px solid transparent;
        border-radius: 4px;
        box-shadow: 15px 16px 17px -1px rgba(0,0,0,0.66);
        -webkit-box-shadow: 15px 16px 17px -1px rgba(0,0,0,0.66);
        -moz-box-shadow: 15px 16px 17px -1px rgba(0,0,0,0.66);
    }
    .about .content p{
        color: #212529;
        text-align: justify;
        text-justify: inter-word;
        padding-left:2rem;
        padding-right: 2rem;
        padding-bottom: 1rem;
        font-size: 14px;
    }
        
    .about .container .card-img-top{
      width: 100%;
      height: 100%;
    }
    .about .container .card-img-top img{
      max-width: 350px;
      max-height: 350px;
    }

    @media(min-width: 640px){
        .about .content p{
            font-size: inherit;
        }
    }
    .members{
        margin-top:20px;
    }
    .members span{
        font-size:2rem;
        font-weight: bold;
        text-transform: capitalize;
        color:aquamarine;

    }
    /*Profile Card 1*/
.profile-card-1 {
  /* font-family: 'Open Sans', Arial, sans-serif; */
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  color: #000;
  text-align: center;
  height:368px;
  border:none;
  background: rgb(131,58,180);
background: -moz-linear-gradient(174deg, rgba(131,58,180,1) 0%, rgba(198,92,92,1) 59%, rgba(133,90,31,1) 100%);
background: -webkit-linear-gradient(174deg, rgba(131,58,180,1) 0%, rgba(198,92,92,1) 59%, rgba(133,90,31,1) 100%);
background: linear-gradient(174deg, rgba(131,58,180,1) 0%, rgba(198,92,92,1) 59%, rgba(133,90,31,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#855a1f",GradientType=1); 
}

.profile-card-1 .card-content {
  width: 100%;
  padding: 15px 25px;
  position: absolute;
  left: 0;
  top: 50%;
}
.profile-card-1 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.profile-card-1 h2 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size:25px;
}
.profile-card-1 h2 small {
  display: block;
  font-size: 15px;
  margin-top:10px;
}
.profile-card-1 i {
  display: inline-block;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card-1 .icon-block{
    float:left;
    width:100%;
    margin-top:15px;
}
.profile-card-1 .icon-block a{
    text-decoration:none;
}
.profile-card-1 i:hover {
  background-color:#fff;
  color:#2E3434;
  text-decoration:none;
}

@media(max-width:640px){
    .cards>div{
        margin-top: 0.5rem;
    }
}

</style>

