<section id="gallery" class="gallery">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <img class="g-img img-fluid shdaow rounded mb-4" src="/assets/img/1.jpg" alt="">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <img class="g-img img-fluid shdaow rounded mb-4" src="/assets/img/2.jpg" alt="">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <img class="g-img img-fluid shdaow rounded mb-4" src="/assets/img/3.jpg" alt="">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <img class="g-img img-fluid shdaow rounded mb-4" src="/assets/img/4.jpg" alt="">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <img class="g-img img-fluid shdaow rounded mb-4" src="/assets/img/5.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<style>
    .gallery{
        background-color: rgb(21, 14, 20);
    }
    .g-img {max-width:100%;}
</style>