<section id="gallery" class="gallery">
    <div class="container row">
        <div class="column">
            <img src="assets/gallery/1.JPG" onclick="openModal();currentSlide(1)" class="hover-shadow">
        </div>
        <div class="column">
            <img src="assets/gallery/1.JPG" onclick="openModal();currentSlide(2)" class="hover-shadow">
        </div>
        <div class="column">
            <img src="assets/gallery/1.JPG" onclick="openModal();currentSlide(3)" class="hover-shadow">
        </div>
        <div class="column">
            <img src="assets/gallery/1.JPG" onclick="openModal();currentSlide(4)" class="hover-shadow">
        </div>
    </div>
    
</section>

<style>
    .gallery{
        background-color: rgb(21, 14, 20);
    }
    .g-img {max-width:100%;}
</style>