---
// import Navbar from "./Navbar.astro";
// import Intro from "./Intro.astro";
---
<header id="header" class="header d-flex align-items-center">
    <!-- <Navbar/> -->
    <!-- <Intro/> -->
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between"></div>
</header>

<section id="hero" class="hero">
    <div class="info d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2 class="aos">Welcome to <span class="text-uppercase">birangana sadhini kalakehtra</span></h2>
                    <p class="aos">A Beautiful Park with a large auditorium situated at Golaghat</p>
                    <a class="btn-know-more" href="#about">Know More</a>
                </div>
            </div>
        </div>
    </div>
    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

        <div class="carousel-item active" style="background-image: url(/Kalakhetra/assets/carousel/1.jpg)">
        </div>
        <div class="carousel-item" style="background-image: url(/Kalakhetra/assets/carousel/2.jpg)"></div>
        <div class="carousel-item" style="background-image: url(/Kalakhetra/assets/carousel/3.jpg)"></div>
        <div class="carousel-item" style="background-image: url(/Kalakhetra/assets/carousel/4.jpg)"></div>
        <div class="carousel-item" style="background-image: url(/Kalakhetra/assets/carousel/5.jpg)"></div>
  
        <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>
  
        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>
      </div>
</section>
